{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    User ID: {{ user.id }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Your available credit: {{ user.credit }}</h5>
                    <a href="{{ path('add_credit') }}" class="btn btn-primary">Add credit</a>
                </div>
            </div>
        </div>
        <div class="col-8">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>IsPremium</th>
                    <th>Bookings</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.isPremium ? 'Yes' : 'No' }}</td>
                        <td>
                            <ul>
                                {% for booking in room.bookings %}
                                    <li>{{ booking.startDate|format_datetime(pattern='dd/MM/Y HH:mm') }} - {{ booking.endDate|format_datetime(pattern='dd/MM/Y HH:mm') }}</li>
                                {% else %}
                                    No booking yet.
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <form action="{{ path('booking_new') }}" method="post">
                <button type="submit" name="book">Book a room</button>
            </form>
        </div>
    </div>

{% endblock %}
