{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="d-flex flex-column">
        <div class="my-5">
            {% if user.id %}
                <div class="card">
                    <div class="card-header">
                        User ID: {{ user.id }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Your available credit: {{ user.credit }}</h5>
                        <a href="{{ path('add_credit') }}" class="btn btn-primary">Add credit</a>
                        <form class="d-inline ml-4" action="{{ path('booking_new') }}" method="post">
                            <button type="submit" name="book" class="btn btn-info">Book a room</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="card">
                    <div class="card-header">
                        Hello guest
                    </div>
                    <div class="card-body">
                        <p class="card-text">Please log in to book a room.</p>
                        <a href="{{ path('app_login') }}" class="btn btn-primary">Log in</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div >
            <h3>Available rooms</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>IsPremium</th>
                    <th>Bookings</th>
                </tr>
                </thead>
                <tbody>
                {% for room in rooms %}
                    <tr>
                        <td>{{ room.id }}</td>
                        <td>{{ room.name }}</td>
                        <td>{{ room.isPremium ? 'Yes' : 'No' }}</td>
                        <td>
                            <ul>
                                {% for booking in room.bookings %}
                                    <li class="mb-2 d-flex justify-content-between">
                                        <div>
                                            {{ booking.startDate|format_datetime(pattern='dd/MM/Y HH:mm') }}
                                            - {{ booking.endDate|format_datetime(pattern='dd/MM/Y HH:mm') }}
                                            | By user
                                            ID {{ booking.user.id }}

                                            {% if user.id == booking.user.id %}
                                        </div>
                                        <div>
                                            <form action="{{ path('booking_edit', {'id': booking.id}) }}" method="post">
                                                <button class="btn btn-warning">Edit</button>
                                            </form>
                                        </div>
                                        {% endif %}
                                    </li>
                                {% else %}
                                    No booking yet.
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
